section{
    color:#f3ddbd;
}
.texto-ayuda{
    font-weight: bold;
}
.container-1{
    padding-top:50px;
}

.container-1 p{
    color: #fff;;
    text-shadow: 0 0 5px;
}
.titulo-h2{
    font-weight: bold;
    color:#ffffff;
    text-shadow: 0 0 10px;
}


.container-2{
    margin-top:100px;
    text-align:center;
    color:white;
}


.icon{
    color:#d5aff0;
    font-size:5rem;
    
}
.icon:hover{
    cursor:pointer;
    color:#d5aff0;
    font-size: 6rem;
    text-shadow: 0 0 5px #ffffff;
    transition: .5s;
    
}


.container-3{
    padding: 25px;
    background-color:#b3b3b3;
    color:#000000;
    position: absolute;
    float: bottom;
    
    width: 100%;
    
    

}
.icon-activo{
    
    color:#ffffff;
    font-size:5rem;
}

.texto-js{
    border-radius: 15px;
    padding: 15px;
    background-color:#fff;
}

/* Posicionar pagina */
@media(max-width:990px){
    section{
        margin-top:calc(100vh);
        margin-left: calc(2rem + 2vw);;
    }
}