.contenedor-formulario{
    width: auto;
    
    background-color: #322172;
    backdrop-filter: blur(10px);
    width: 100%;
    padding: 10px;
    margin: none;
    
    -webkit-backdrop-filter: blur(10px);
}
.contenedor-formulario .col{
    padding: 10px;

}
.contenedor-formulario label{
    color: #b55fd9;
    text-shadow: 0 0 10px;
}

.textarea{
    width: 97vw;
}
.contenedor-formulario input{
    width: 100%;
    color: #fff;
    text-shadow: 0 0 10px;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    
}

.form-titulo{
    color: white;
    text-shadow: 0 0 10px;
}
.btn-formulario{
    border: none;
    padding: 5px 25px 5px 25px;
    background-color: #947de6;
    border-radius: 10px;
}
.btn-formulario:hover{
    background:#b55fd9;
    transition: all .5s;
    box-shadow: 0 0 15px #b55fd9;
}