
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #322172;
}


#inicio{
    display: block;
}

#registrarse{
    display: none;
}

.espacio{
    background-color: #5843a3;
    border-radius: 25px;
}


.imagen{
    width: 25px;
}

.row{
    margin-left: 0;
}