
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #322172;
    position: relative;
    padding-top: 7em;
    padding-bottom: 15em;
    min-height: 100vh;
}

.nav-flotante{
    position: absolute;
    top: 0;
}

#inicio{
    display: block;
}

#registrarse{
    display: none;
}

.espacio{
    background-color: #5843a3;
    border-radius: 25px;
    margin:auto;
    padding: auto;
}
.centrar{
    margin: auto;
    padding: auto;
}

.imagen{
    width: 25px;
}

.row{
    margin-left: 0;
}

.container-3{
    position: absolute;
    bottom: 0;
    width: 100%;
}