
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#322172, white);
}


#inicio{
    display: block;
}

#registrarse{
    display: none;
}

.espacio{
    background-color: #322172;
    border-radius: 25px;
    margin:auto;
    padding: auto;
}
.centrar{
    margin: auto;
    padding: auto;
}

.imagen{
    width: 25px;
}