.container-1 p {
    color: #fff;
    ;
    text-shadow: 0 0 5px;
}

.titulo-h2 {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 10px;
}

.container-2 {
    margin-top: 100px;
    text-align: center;
    color: white;
}

.icon {
    color: #d5aff0;
    font-size: 5rem;
}

.icon:hover {
    cursor: pointer;
    color: #d5aff0;
    font-size: 6rem;
    text-shadow: 0 0 5px #ffffff;
    transition: .5s;
}

.container-3 {
    background-color: #cccccc;
}

.container-3 p {
    margin-top: 30px;
    font-weight: bold;
    font-size: .8rem;
}

.container-3 .footer {
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #cccccc;
}

.row-iconos {
    padding-bottom: 10px;
    padding-top: 10px;
}


/* .container-3 .col {
    padding: 0;
} */

.container-3 a {
    width: 50%;
    color: #000000;
}

.container-3 a:hover {
    color: #520096;
}

.text-footer-titulo {
    font-size: 1.1rem;
    font-weight: bold;
}

.icon-activo {
    color: #ffffff;
    font-size: 5rem;
}

.texto-js {
    border-radius: 15px;
    padding: 15px;
    background-color: #fff;
}