.container{
    display: flex;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100vh;
    border-left-width: 100%;
  }

.fuente1{
    color: white ;
    font-family: 'Roboto', sans-serif;
}

.left {
    background: linear-gradient(#04293a85, white);
    width: 50%;
}

.right {
    background: linear-gradient(#04293a, rgba(48, 86, 143, 0.329));
    width: 50%;
    display: flex; 
    text-align: center;
    font-style: normal;
    justify-content: center;
}

.grid{

    display: auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.card{
    background-color: #04293a85;
    min-width:auto;
    margin-top: 5%;
    padding-left:1%;
    padding-right: 1%;
    display:flex;
    size-adjust: 50%;
}

.card-title{
    color: white ;
    font-family: 'Roboto', sans-serif;
}

.card-img-top{
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 50px;
    display: flex;
}

.d-flex{
    width: 92%;
    height: 28%;
    margin-left: 3%;
}

