.container{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100vh;
    border-left-width: 100%;
    /* max-width: 1300px !important; */ 
  }

.fuente1{
    color: white ;
    font-family: 'Roboto', sans-serif;
}

.left {
    background: linear-gradient(#04293a85, white);
    width: 50%;
}

.right {
    background: linear-gradient(#04293a, rgba(48, 86, 143, 0.329));
    width: 50%;
    display: flex;
    grid-template-columns: 3,1fr; 
    text-align: center;
    font-style: normal;
    justify-content: center;
}

.grid{
    width: 240px;
    height: 240px;
    display: auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.card{
    background-color: #04293a85;
    width: 250px;
    min-width:auto;
    margin-top: 5%;
    padding-left:1%;
    padding-right: 1%;
    display:flex;
    size-adjust: 50%;
}

.card-title{
    color: white ;
    font-family: 'Roboto', sans-serif;
}

.card-img-top{
    width:auto;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
}

.padre{
    width: 70%;
    height: 50%;
}