@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400;1,500&family=Press+Start+2P&family=Radio+Canada:wght@400;600&display=swap');
body {
    background-color: #322172;
}

.header-section {
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
}

.header-section div {
    margin-top: 5px;
}

.header-section p {
    position: absolute;
    top: 25px;
    background-color: white;
    padding: 1px 6px;
    border-radius: 50%;
    color: #3D2B7E;
    font-weight: 700;
    font-family: system-ui;
    line-height: 18px;
}

.logo {
    width: 164px;
    height: 84px;
    cursor: pointer;
}

.cart {
    width: 39px;
    height: 38px;
    cursor: pointer;
}

.cart-products {
    color: #fff;
    position: absolute;
    top: 70px;
    right: 0px;
    padding: 10px 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;
    width: 250px;
    min-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(255, 255, 255);
    background: #5c3a9ce8;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}


/*end header*/

.products {
    /* margin-top: 60px; */
    padding-top: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carts {
    max-width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding-bottom: 34px;
    margin-bottom: 40px;
}

.carts img {
    width: 100%;
}

.carts p {
    font-family: system-ui;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom: 24px;
}

.carts div p {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #7e422b;
    color: #fff;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.carts div {
    position: relative;
}

.carts a {
    font-family: system-ui;
    text-decoration: none;
    background: #3D2B7E;
    padding: 9px 23px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.carts a:hover {
    background: #fff;
    color: #3D2B7E;
    border: solid 2px white;
    transition-duration: .3s;
}

.cart-products .item img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.cart-products h6 {
    padding: 10px;
}

.cart-products .item {
    display: flex;
    align-items: center;
    height: 120px;
    width: auto;
    /* border-bottom: solid 3px #d5ceee; */
}

.cart-products .item .item-content {
    margin: 0 19px;
    width: 201px;
}

.cart-products .item .item-content h5 {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}

.cart-products .item .item-content h6 {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}

.cart-products .item span {
    background-color: #3D2B7E;
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
    margin-right: 30px;
}

.cart-products h3 {
    margin-bottom: 0;
}

.cart-products .item .item-content h5.cart-price {
    font-weight: 700;
}


/*stye to btn close*/

p.close-btn {
    top: 4px;
    right: 6px;
    cursor: pointer;
    color: #000;
}

.btn-carrito img {
    height: 20px;
    width: 20px;
    color: white;
}


/*END*/


/*Profilebutton*/

.profile-container {
    height: 0;
    width: auto;
    display: flex;
}

.action {
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    top: 15px;
    right: 30px;
}

.action .profile {
    position: relative;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;
}

.profile i {
    color: #fff;
    font-size: 2rem;
}

.profile i:hover {
    color: #cf8eee;
    text-shadow: 0 0 5px;
}

.action .profile img {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu {
    position: absolute;
    top: 80px;
    right: 10px;
    padding: 10px 20px;
    background: #cccccc;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .menu.activate {
    visibility: visible;
    opacity: 1;
}

.action .menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background-color: #cccccc;
    transform: rotate(45deg);
}

.action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
}

.action .menu h3 span {
    font-size: 14px;
    color: #3a1669;
    font-weight: 400;
}

.action .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    direction: flex;
    align-items: center;
    justify-content: center;
}

.action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .menu ul li:hover img {
    opacity: 1;
}

.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
}

.action .menu ul li:hover a {
    color: #2c125e;
}


/*end*/


/* !Navbar */

.contenedor-navbar-collapse {
    width: 100%;
    padding-right: 0;
}

.contenedor-navbar-collapse .row {
    width: 100%;
}

.menu-centrar {
    justify-content: center;
}

.navbar-tienda {
    padding: 0;
    background: #47358980;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #33217298;
}

.navbar-tienda .nav-item .nav-link:hover {
    cursor: pointer;
    color: rgb(183, 102, 255);
}

.contenedor-navbar-collapse {
    padding-left: 130px;
}

.icono-navbar {
    width: 100%;
    justify-content: space-between;
}

.navbar-brand {
    margin: 0 auto;
}

.navbar-nav {
    justify-content: center;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #6d008f;
}

.navbar-cuenta {
    text-decoration: none;
}

.navbar-brand {
    cursor: pointer;
    text-shadow: 0 0 10px;
}

.navbar-brand:hover {
    font-size: 1.3rem;
    transition: all 0.5s;
}

.navbar-toggler {
    float: right;
}

.navbar-collapse {
    width: 100%;
    align-items: center;
    text-align: center;
}

.navbar-toggler {
    padding: 5px 6px;
    margin: 5px;
}


/* ! */


/* ?Animación botón */

.btn-portada {
    position: relative;
    display: inline-block;
    padding: 8px;
    width: 50%;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 0 0 10px;
    font-size: calc(1.5em + 0.1vw);
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.btn-portada:hover {
    background-color: #ffffff;
    box-shadow: 0 0 10px #ffffff, 0 0 40px #f9d9ff, 0 0 80px #f6b3ff;
    transition-delay: 1s;
    color: #3a1965;
    font-weight: 600;
}

.btn-portada span {
    position: absolute;
    display: block;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f6b3ff);
}

.btn-portada:hover #span1 {
    left: 100%;
    transition: 1s
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f4abfe);
}

.btn-portada:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2 {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgb(242, 160, 250));
}

.btn-portada:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #9d62a2);
}

.btn-portada:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/* Títulos */

.texto-tienda {
    padding: 10px;
    color: #fff;
    background-color: #3a19659b;
    border-bottom: 2px solid #a251ba;
    border-top: 2px solid #a251ba;
    box-shadow: 0 0 10px #9d62a2;
    text-shadow: 0 0 10px;
}


/* !Cartas */

.row-tienda {
    align-items: space-around;
}

.row-tienda .card-img-top {
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.row-tienda .card {
    background: none;
    border: none;
    border-radius: 10px;
}

.row-tienda .card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #fff;
    transition: 0.5s;
}

.row-tienda .card-body {
    background: rgba(255, 255, 255, 0.067);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.59);
    border-top: none;
}

.btn-card {
    color: #fff;
    border: none;
    background: #d02dc200;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #f4abfe;
}

.btn-card:hover {
    color: #000;
    background-color: #ffffff;
    transition: .5s;
    box-shadow: 0 0 15px #fff;
}

.btn-carrito {
    color: #fff;
    box-shadow: 0 0 10px #f4abfe;
    float: right;
    border: none;
    background: rgba(208, 45, 194, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    /* pointer-events: all; */
}

.btn-carrito:hover {
    color: #000;
    background-color: #ffffff;
    transition: .5s;
    box-shadow: 0 0 15px #fff;
}

.btn-carrito q {
    pointer-events: none;
}


/* !Animación Estrella */

.estrella {
    border-radius: 50%;
    background: #fff;
    opacity: 1;
    position: absolute;
    bottom: 1;
    z-index: -1;
    /* height: 100vh; */
    animation: estrellas 0s infinite;
}

@keyframes estrellas {
    0% {
        top: 160vh;
        opacity: 1;
    }
    30% {
        transform: translateX(40px);
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 0;
    }
}

.estrella:nth-child(1) {
    width: 10px;
    height: 10px;
    left: 5%;
    box-shadow: 0px 0px 8px 5px #fff;
    animation-duration: 130s;
    animation-delay: 5s;
}

.estrella:nth-child(2) {
    width: 50px;
    height: 50px;
    left: 35%;
    box-shadow: 0px 0px 10px 5px #fff;
    animation-duration: 150s;
    animation-delay: 5s;
}

.estrella:nth-child(3) {
    width: 100px;
    height: 100px;
    left: 15%;
    box-shadow: 0px 0px 10px 5px #fff;
    animation-duration: 100s;
    animation-delay: 1s;
}

.estrella:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 50%;
    box-shadow: 0px 0px 10px 5px #fff;
    animation-duration: 160s;
    animation-delay: 2s;
}

.estrella:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 65%;
    box-shadow: 0px 0px 10px 5px #fff;
    animation-duration: 100s;
    animation-delay: 3s;
}

.estrella:nth-child(6) {
    width: 90px;
    height: 90px;
    left: 50%;
    box-shadow: 0px 0px 10px 5px #fff;
    animation-duration: 40s;
    animation-delay: 4s;
}

.estrella:nth-child(7) {
    width: 30px;
    height: 30px;
    left: 50%;
    box-shadow: 0px 0px 10px 5px #fff;
    animation-duration: 180s;
    animation-delay: 2s;
}

.estrella:nth-child(8) {
    width: 80px;
    height: 80px;
    left: 52%;
    box-shadow: 0px 0px 10px 5px #fff;
    animation-duration: 70s;
    animation-delay: 1s;
}

.estrella:nth-child(9) {
    width: 60px;
    height: 60px;
    left: 51%;
    box-shadow: 0px 0px 10px 5px #fff;
    animation-duration: 300s;
    animation-delay: 2s;
}

.estrella:nth-child(10) {
    width: 40px;
    height: 40px;
    left: 35%;
    box-shadow: 0px 0px 10px 5px #fff;
    animation-duration: 200s;
    animation-delay: 0s;
}

.cart-products button {
    color: #ffff;
    background-color: rgb(58, 26, 100);
}

.cart-products button:hover {
    background: rgb(221, 130, 233);
    box-shadow: 0 0px 5px #fff;
}

.carrito-menu {
    color: #5555555d;
}

.carrito-menu a {
    margin-left: 8px;
}

.icon-menu-perfil {
    padding-left: 5px;
    margin-right: 10px;
    color: #5555555d;
}

@media all and (max-widht: 900px) and (min-widht: 300px) {
    .action {
        justify-content: flex-end;
        align-items: center;
        justify-content: center;
        /* position: fixed; */
        top: 15px;
        right: 30px;
    }
    .action .profile {
        /* position: relative; */
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .action .profile img {
        height: 45px;
        width: 45px;
        /* position: absolute; */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 300px) {
    .cart-products {
        right: -68px;
    }
    .contenedor-navbar-collapse {
        padding-left: 35px;
    }
    .navbar-brand {
        padding-left: 0px;
    }
}

@media (min-width: 990px) {
    .contenedor-navbar-collapse {
        padding-left: 0px;
    }
    .navbar-brand {
        padding-left: 90px;
    }
    .action .profile {
        margin-top: 4px;
    }
}

@media (min-width: 991px) {
    .action .profile {
        margin-top: 20px;
    }
    .cart-products {
        right: -10px;
    }
}